appname:  'Openponies'
layout:   'main'
charset:  'UTF-8'
template: 'simple'    

plugins:
    Database:
        driver:   'mysql'
        database: 'openponies'
        host:     'localhost'
        port:     3306
        username: 'root'
        password: ''
        dbi_params:
            RaiseError: 1
            AutoCommit: 1
        on_connect_do: ["SET NAMES 'utf8'", "SET CHARACTER SET 'utf8'", "SET SQL_MODE='TRADITIONAL'" ]
        log_queries: 1
    Memcached:
        servers:
            - "127.0.0.1:11211"
        default_timeout: 3600
    Auth::RBAC:
        credentials:
            class: MySQL
